@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&family=Jost&family=Source+Code+Pro:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    font-family: 'Jost', sans-serif;
}
.top-nav{
    display:flex;
    background-color: #F4F5F7;
    justify-content: space-between;
    padding:.3% 5%;
    align-items: center;
   
}
.left{
    display:flex;
    gap:2rem;
    
}
.right > span:nth-of-type(2){
    border-bottom:2px solid #EE1C47;
}
.nav{
    background-color:var(--Primary, #FFF);
    display:flex;
    justify-content: space-between;
    padding:.3% 5%;
}
.nav-menu a {
    text-decoration: none;
    color:black;
}
.nav-menu a:hover{
    color:#EE1C47;
}
.nav-menu{
    display:flex;
    gap:2rem;
    align-items: center;
}
.nav-right{
    display:flex;
    gap:2rem;
    align-items: center;
    justify-content: center;
}
.nav-right span{
    background-color: red;
    border-radius: 100%;
    font-size: .7rem;
    position:absolute;
    top:0;
    right:0;
    /* padding:1%; */
}
.nav-right>div:nth-of-type(3){
    position:relative;
   
}
.nav-brand{
    font-weight:bold;
    font-size:2rem;
}
.nav-left{
    display:flex;
    gap:2rem;
    align-items: center;
}
#menu-icon,
#close-icon {
    font-size: 26px;
    color: var(--text-color);
    z-index: 1001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}
.nav-menu .active{
    color:#EE1C47;
}
.dropdown {
    /* float: left;
    overflow: hidden; */
}

.dropdown .dropbtn {
    border: none;
    color: black;
    background-color: inherit;
    font: inherit;
}


.dropdown:hover .dropbtn {
    color: #EE1C47;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    width: 50%;
    box-shadow: 1px 1px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown:hover .dropdown-content {
    display: block;
    padding:1%;
}
.column {
    float: left;
    width: 50%;
    padding: ;
    background-color: white;
    /* height: 250px; */
}

.column a {
    float: none;
    color: black;
    padding: 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: ;
}

.column a:hover {
    color: #EE1C47;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* home slide start */

/* Slideshow container */
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;

}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
    height: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 2rem;
    height: 2rem;
    padding-left:10px;
    padding-top: 4px;
    color: #FFFFFF;
    background-color: #EE1C47;
    font-weight: bold;
    font-size: 18px;
    border-radius:100%;
    margin-right:100px;
    margin-left: 100px;
    
}

/* Position the "next button" to the right */
.next {
    right:0;
    padding-left: 12px;
    padding-top: 4px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    position: absolute;
    top: 10%;
    right: 30%;
    width: 40%;

}

.text h3 {
    color: #EE1C47;
    font-size: 2rem;
}

.text h1 {
    font-size: 3rem;
}

.text p {
    font-size: 1rem;
    letter-spacing: .2rem;
}

.text button {
    margin: 2% 0%;
    background-color: inherit;
    padding: 3% 6%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1rem;

}

/* home slide end*/

/* home grid start */
.home-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1%;
    padding: 1%;
}
.bed{
    grid-row: 1/3;
    background-color: #F8EFEE;
    
}
.sofa {
    background-color: #C3A7A3;


}

.lamp {
    background-color: #FAF3EE;

}

.cabinet {
    background-color: #F2F0EF;

}

.table {
    background-color: #F4F4F4;

}
.home-gird-text {
    padding-top: 30%;
    padding-left: 30%;
 
}
.home-gird-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/* home grid end */


/* product section start */
.new-products{
    margin:3% 7%;
}

.product-nav{
    /* text-align: center; */
    margin-top:1%;
    margin-bottom: 3%;
    display:flex;
    justify-content: center;
    gap:2rem;
    
}
.product-nav button{
    background-color: transparent;
    border: none;
}
.product-nav a{
    text-decoration: none;
    color:black;
    margin:1%;
}
.product-nav a:hover{
    color:#EE1C47;
}
.product-nav a:active {
    color: #EE1C47;
}

.product-card-container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
  
}
.sale{
    background-color: black;
    color:white;
    padding:0% 6%;
    position:absolute;
    top: 0;
    left:0;
    margin:3%;
    
}
.sold-out{
    background-color: #707070;
    color: #FFFFFF;
    padding: 0% 1.5%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 3%;
}
.product-card-image{
    background-color: #F5F5F5;
    min-width: 295px;
    height: 337px;
    text-align: center;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
}
.product-card-image img{
   padding-top: 25%;
   

}
/* product section end  */


/* home banner start */
.home-banner{
    background-color:#FFE6D0;
    margin: 1% 1%;
}
.banner{
    display:grid;
    grid-template-columns: 1fr 1fr;
    
}
.banner-content{
    padding:15% 15%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
}
.ellipse{
    display:flex;
    gap:5%;
}
.e-img{
    position: relative;
}
.timer{
    color:white;
    position:absolute;
    top:1.2rem;
    left:2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.timer :nth-child(1){
    font-size: 1.8rem;
}
/* home banner end */



/* blog start */
.blog{
    margin: 3% 4%;
}
.blog-card-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:1%;

}
.blog-card img{
    width:100%;
    height:auto;
}
.heading{
    text-align:center;
    margin:2%;
}

/* blog end  */



/* footer section start  */
.footer{
    background-color: #202020;
    
}

.footer-section{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: baseline;
    align-items: end;
    padding: 3% 5%;

}
.footer-social{
    
    display:flex;
    gap:30%;
}

.footer-links a{
    text-decoration: none;
    color:#CCCCCC;
}
.footer-contact{
    color:#FFFFFF;
    display:flex;
    flex-direction: column;
    gap:1rem
}

.footer-contact input{
    background-color: transparent;
    width:100%;
    border:0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
   
}
.sub-footer{
    color:#FFFFFF;
    border-top:1px solid #414141;
    margin-top:5%;
    display:flex;
    justify-content: space-between;
    padding: 0% 5%;
}
/* footer section end  */




/* Responsive  */

@media (max-width:1240px){
    .product-card-container {
        margin-top:8%;
        grid-template-columns: repeat(3,1fr);
     }
        .product-card-image {
            min-width: 205px;
            height: 280px;
            
        }
        .product-card-image img{
            /* width:200px; */
        }
    .banner {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap:0rem;
    }
    .banner-content{
        padding:0%;
        padding-top:5%;
    }
    .home-grid{
        grid-template-columns: 1fr 1fr;
    }
    .bed{
        grid-row: 1/3;
    }
}
/* and (min-width:530px) */
@media (max-width:800px) 
{

    .left div img{
        width:1rem;
        height:1rem;
    }
    .left{
        gap: 0.8rem;
    }
    .right{
        font-size:.8rem;
    }
    .nav-brand{
        font-size: 1rem;;
    }
    .nav-menu{
        font-size: .8rem;
        gap:.8rem;
    }
    .nav-right div img{
        width:1rem;
        
    }
    .nav-right{
        gap: .8rem;
    }
    .text {
        top: 5%;
        right: 30%;
        width: 40%;
    }
    .text h3 {
        font-size: 1rem;
    }
    .text h1 {
        font-size: 2rem;
    }
    .text p {
        font-size: 1rem;
        letter-spacing: 0cm;
    }
    .text button {
        font-size: 0.8rem;
    }
    .home-grid-img img{
        width: 200px;
    }
    .bed{
        grid-row:1/2;
    }
   .banner-image img{
        width:400px;
   }
    .product-card-container{
        grid-template-columns: 1fr 1fr;
        gap:1rem;
    }
    .ellipse{
        gap:1rem;
    }
    .blog-card-container{
        grid-template-columns: 1fr;
    }
    .footer-section{
        grid-template-columns: 1fr 1fr;
        align-items: center;
    } 
    .footer-social{
        grid-column: 1/3;
        /* justify-self: center; */
    }
    .sub-footer span{
        font-size:13px;
    }
    /* .home-grid{
        grid-template-areas: 'bed sofa''bed cabinet'
        'lamp table';
    } */

    
}
@media (max-width:530px){
    #menu-icon {
            display: block;
            top: -1000px;
        }
.nav-menu {
    position: absolute;
    font-size:1rem;
    /* top:2.5rem; */
    right:0;
    width:50%;
    height:100%;
    background-color: white;
    flex-direction: column;
    gap:1rem;
    z-index: 10001;
    transition: all .45s ease; 
    top:-100%;
}


.nav-menu.open {
    top: 2.5rem;
}
    .top-nav{
        display:none;
    }
    .nav-right{
        display: none;
    }
    .home-grid{
        display:grid;
        grid-template-columns: 1fr;
        width:70%;
        text-align: center;
        margin-left:15%;
    }
   .home-grid-img img{
        width:100px;
   }
   .product-card-container{
        grid-template-columns: 1fr;
   }
   .product-card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:10px;
        justify-items: center;
        align-items: center;
   }
   .product-card-image{
        height: 200px;
   }
   .product-card-image img{
        width:180px;
   }
   .e-img img{
        width:50px;
   }
   .timer {
        top: .4rem;
        left:1rem;
    }
   .timer :nth-child(1) {
        font-size: 1rem;
    }
   .timer :nth-child(2) {
       font-size: 0.7rem;
   }
   .banner-image img{
    width:300px;
   }
   .new-products{
    margin-top:5rem;
   }
   .footer{
    font-size: .8rem;
   }
   .sub-footer span:nth-child(2) img{
        width: 200px;
   }
   .blog-card-container{
    margin-top:3rem;
        justify-items: center;
   }
   .blog-card{
        width:90%;
   }
    .blog-text{
    font-size: .8rem;
   }
        .text {
            position: absolute;
            top: 10%;
            right: 30%;
            width: 40%;
    
        }
    
        .text h3 {
            font-size:.8rem;
        }
    
        .text h1 {
            font-size: 1rem;
        }
    
        .text p {
            font-size: .8rem;
            letter-spacing: .1rem;
        }
    
        .text button {
            padding: 1% ;
            gap: .4rem;
        }
        .column img{
            display:none;
        }
        .dropdown-content {
            width:300px;
            right:0px;
            top:0px;
        }
    }